*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
}
body{
    font-family: sans-serif;
    margin: 0 10%;
    background-color: black; /* FONDO  CAMBIAR COLOR A NEGRO*/
    
}
header{
    width: 100%;
    align-items: center;
    justify-content: center;
}

/*Transition */
.linkContent{
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    transition: 1s;
} 

.linkContent li:hover{
    background-color:rgb(12, 190, 12); 
    transition: 1s;
    padding: 10px;

}
/* BARRA DE NAVEGADOR */
header nav ul{ 
    display: flex;
    list-style: none;
    width: 100%;
    background-color:rgb(40, 39, 39);/* negro +clarito*/
    flex-direction: row;
    list-style: none;
    border-radius: 5px;
    padding: 50px 20px;
    justify-content:space-around;
    color: white;
    margin-top: 0px;
}
.about-container{ /* CONTENEDOR ABOUT */
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    height:900px; /*Altura*/
    
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    
}
.about h1{ /* TITULO PRINCIPAL ABOUT */
    
    font-size: 3.5em;
    color: rgb(12, 190, 12);
    border-bottom: 800px; /* PROBAR DESDE AQUÍ */
    padding-bottom: 100px;
}
.about p{ /* TEXTO ABOUT */
    color: #892727; 
    line-height: 30px; /*Altura de linea*/
}
    
.aboutFotoPrincipal{  /* REVISAR */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; /* Ancho de la imagen */
    height: auto; /* Altura automática */
    flex: 1 1 300px; /* Crecimiento y encogimiento flexible con un tamaño base de 300px */
    
}
/* ---- PROYECTOS ---- */

.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(20, 119, 73);
    justify-content: center;
    padding: 10px;  
}
.contenedorPrincipal h2{
    font-size: 25px;
    padding-top: 10%;
    color: #892727;  /*Cambiar color de letra negra*/
}

.containerProjects{
    display: flex;
    margin: 1em;
    justify-content: center;
    gap:10px;
    padding: 90px 0px; /* Espaciado interior */
}
.project{
    background-color: hsl(0, 0%, 3%);
    border-radius: 20px 20px 20px 20px; /* Bordes redondeados imagen */
    
}
.project img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 20px 20px 20px 20px; /* Bordes redondeados imagen */
}

.project h3{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 20px; 
    color: white;
    line-height: 30px; /*Altura de linea*/
}
.project p{
    display: flex;
    justify-content: center;
    line-height: 30px; /*Altura de linea*/
    text-align: center;
    color: aqua;
    margin-bottom: 30px;
    padding: 5px 10px;
}
.proyLogoGitlink img{
    display: flex;
    width: 80px;
    height: auto;
    margin-bottom: 20px; /*margen-espacios*/
    margin-left: 30px;
    
}

/* HABILIDADES */
.containerSkills{ /* Fondo de habilidades */ 
    background-color:#000 ;
    padding: 50px 50px;
    width: 100%;
    
}
.skills{ /*FONDO MARCO REDONDEADO*/
    padding: 5% 30px;
    background-color:rgb(40, 39, 39); /* negro +clarito*/
    border-radius: 5px;
    margin-top: 50px; 
    margin-bottom: 50px;
}

.skills h2{ /* TITULO DE HABILIDADES*/
    color: aqua;
    font-size: 25px;
    margin-bottom: 40px; /*separación*/
    display: flex;
    margin-left: 10px;

}
.titleFront{ /* Texto Front*/
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 80px;    
}

.containerSkill img{  /* */
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Altura automática */
    padding: 10px;

}
.titleBack{
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 80px;
}



/* FORMULARIO DE CONTACTO */

.containerform{ /* ENCABEZADO FORMULARIO */
    padding: 20px; /*/// REVISAR */
    margin: 0 auto;
    background-color: white;
}
.containerform h2{ /*Estilo en la letra */
    color: aqua;
    display: flex;
    font-size: 25px;
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
       
}
.containerContact{
    /*/// REVISAR PADDING DEL CONTENEDOR*/
    padding: 30px 40px;
    font-size: 25px;
    background-color: white;
}

.form input{ /*Elementos de entrada*/
    padding: 30px 80px;
    margin-bottom: 2em; /*Separción de los recuadrod */
    background-color: aqua; /* CAMBIAR COLOR*/
    border: none; /*sin bordes */
    border-radius: 10px;
    color: white; /*Color escritura*/
}
.form textarea{
    display: flex;
    height: 450px;
    width: 750px;
    padding: 30px 80px;
    background-color: aqua; /* CAMBIAR COLOR*/
    border: none;
    border-radius: 10px;
    color: white;
    
}
/*Botón Enviar formulario*/
.btnsubmit{ 
    padding: 30px 40px;
    margin: 20px;
    margin-left: 2px;
    background-color: aqua; /* CAMBIAR COLOR*/
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5); /*sombra al botón*/
}

.btnsubmit:hover{
    background-color: white;
}

/* FOOTER */ 
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    float:inline-end;
    height: 90px;
    color:black; /* CAMBIAR COLOR*/
    background-color: #892727; /* CAMBIAR COLOR*/
}
.footercontent h5{
    font-size: 17px; /* tamaño de letra*/

}
.imgredsocial{  /*IMAGEN FOOTER */
    display: flex;
    width: 60px; /* Ancho de la imagen */
    height: auto;
    padding: 10px 5px;
    /*margin-top: 10px;*/
    cursor: pointer;
}
